---
apiVersion: v1
kind: Secret
metadata:
  name: fencing-secret
stringData:
  fencing.yaml: |
    FencingConfig:
{% for compute in compute_fencing_entries %}
      {{ compute.name }}:
        agent: {{ compute.agent }}
        ipaddr: {{ compute.ipaddr }}
        ipport: "{{ compute.ipport }}"
        login: {{ compute.login }}
        passwd: {{ compute.passwd }}
        uuid: {{ compute.uuid }}
{% endfor %}
